/*
STYLES.CSS
*/
html,
body {
    height: 100%;
    width: 100%;
}

img {
    max-width: 100%;
}

.form-control:focus {
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(203, 98, 34, 0);
  
}

//== Teaser
//
.teaser {
    background-image: url('../../img/background.jpg') ;
    background-repeat: no-repeat;
    background-size:100%;
    background-position :center bottom ;
    color : #230d07;
    .container {
        padding-top: 2rem;
        
        h2 {
            font-size:3.4em;
        }

        h3 {
            font-size:1.8em; 
            margin-top: 1em;
        }
        
        h3, h2 {
            font-family: 'Fjalla One', sans-serif;
        }

        a {
            font-size:1.5em;
            text-decoration: underline;
        }

        form {
            max-width:450px;
            margin: 2em auto; 
        }

    }
}

//== Responsive
//

@media (min-width: $screen-lg-min){ /*Grande résolutions*/
    .teaser {
        p {
            padding: 0 3rem ;
        }
    }
}

@media (max-width: $screen-sm-max){
    .teaser {
        h2 {
            font-size:3.1em;
        }
    }
}
@media (max-width: $screen-xs-max) {  
    .teaser {
        background-image:none;
    }
} 

/*Trouver plus propre*/
input[type="text"], button {
    height: 52px;
}